Repository w3c/wot-binding-templates, changes with the owners that .github/CODEOWNERS names for each.
All owners: @egekorkan, @mjkoster, @ektrah, @relu91

.github/CODEOWNERS:

/bindings/payloads/xml/ @egekorkan @mjkoster
/bindings/platforms/hue/ @egekorkan @mjkoster
/bindings/protocols/coap/ @ektrah
/bindings/protocols/http/ @egekorkan @mjkoster
/bindings/protocols/modbus/ @relu91
/bindings/protocols/mqtt/ @egekorkan @mjkoster @relu91
/index.html @egekorkan @mjkoster

Reorganize intro and section 4 (#266)
  images/binding-templates.svg
  index.html
Owners: @egekorkan, @mjkoster

fix(coap): clarify purpose of cov:contentFormat
  bindings/protocols/coap/index.html
  bindings/protocols/coap/ontology.html
  bindings/protocols/coap/ontology.ttl
Owners: @ektrah

feat(coap): add conformance section
  bindings/protocols/coap/index.html
  bindings/protocols/coap/index.template.html
Owners: @ektrah

feat(coap): add conformance section (#275)
  bindings/protocols/coap/index.html
  bindings/protocols/coap/index.template.html
Owners: @ektrah

fix(coap): clarify purpose of cov:contentFormat (#276)
  bindings/protocols/coap/index.html
  bindings/protocols/coap/ontology.html
  bindings/protocols/coap/ontology.ttl
Owners: @ektrah

feat(modbus): add conformance section to modbus binding documentation
  bindings/protocols/modbus/index.html
  bindings/protocols/modbus/index.template.html
Owners: @relu91

fix: move sotd sections before the introductions
  bindings/protocols/coap/index.html
  bindings/protocols/coap/index.template.html
  bindings/protocols/modbus/index.html
  bindings/protocols/modbus/index.template.html
  bindings/protocols/mqtt/index.html
  bindings/protocols/mqtt/index.template.html
Owners: @ektrah, @relu91, @egekorkan, @mjkoster

add well-known content parameter section to describe byteSeq
  index.html
Owners: @egekorkan, @mjkoster

initial work for vocab creation guide
  CONTRIBUTING.md
  VOCABULARY-CREATION-GUIDE.md
  index.html
Owners: @egekorkan, @mjkoster

reorganize section hierarchy
  index.html
Owners: @egekorkan, @mjkoster

explain subprotocols more
  index.html
Owners: @egekorkan, @mjkoster

feat(modbus): add conformance section to modbus binding documentation (#280)
  bindings/protocols/modbus/index.html
  bindings/protocols/modbus/index.template.html
Owners: @relu91

fix: move sotd sections before the introductions (#274)
  bindings/protocols/coap/index.html
  bindings/protocols/coap/index.template.html
  bindings/protocols/modbus/index.html
  bindings/protocols/modbus/index.template.html
  bindings/protocols/mqtt/index.html
  bindings/protocols/mqtt/index.template.html
Owners: @ektrah, @relu91, @egekorkan, @mjkoster

fix reference and image name
  index.html
Owners: @egekorkan, @mjkoster

fix reference and image name (#284)
  index.html
Owners: @egekorkan, @mjkoster

Minor issues
  index.html
Owners: @egekorkan, @mjkoster

add missing "be"
  index.html
Owners: @egekorkan, @mjkoster

refactor: improve some JSON formatting
  index.html
Owners: @egekorkan, @mjkoster

change todo to planned
  index.html
Owners: @egekorkan, @mjkoster

start fixing the example in core
  index.html
Owners: @egekorkan, @mjkoster

fix final examples
  index.html
Owners: @egekorkan, @mjkoster

start fixing html errors
  index.html
Owners: @egekorkan, @mjkoster

fix html validation errors
  index.html
Owners: @egekorkan, @mjkoster

Update index.html
  index.html
Owners: @egekorkan, @mjkoster

Subprotocol improvements (#283)
  index.html
Owners: @egekorkan, @mjkoster

Some very minor editorial issues (#285)
  index.html
Owners: @egekorkan, @mjkoster

Update index.html
  index.html
Owners: @egekorkan, @mjkoster

fix http to coap in example
  index.html
Owners: @egekorkan, @mjkoster

Make XML Binding "planned" (#288)
  index.html
Owners: @egekorkan, @mjkoster

Fix Editorial issues and examples (#286)
  index.html
Owners: @egekorkan, @mjkoster

add readme
  publication/README.md
Owners: none

copyover root indexhtml
  publication/note3/index.html
Owners: none

generate statichtml from respec
  publication/README.md
  publication/note3/static.html
Owners: none

disable extension and regen statichtml
  publication/note3/static.html
Owners: none

tidy statichtml as overviewhtml
  publication/README.md
  publication/note3/Overview.html
Owners: none

fix capitalization
  publication/README.md
Owners: none

copyover images
  publication/note3/images/binding-mechanism.drawio
  publication/note3/images/binding-mechanism.drawio.svg
  publication/note3/images/binding-templates-overview.drawio
  publication/note3/images/binding-templates-overview.drawio.svg
  publication/note3/images/binding-templates.svg
Owners: none

add w3c group note
  publication/note3/Overview.html
Owners: none

regenerate static and overview after respec working
  publication/note3/Overview.html
  publication/note3/static.html
Owners: none

get results from html tidy
  README.md
  publication/note3/Overview.html
Owners: none
