Repository w3c/wot-binding-templates, pull requests merged in 2023-04, with the labels that each got.

#275 feat(coap): add conformance section
  bindings/protocols/coap/index.html
  bindings/protocols/coap/index.template.html
Labels: coap

#276 fix(coap): clarify purpose of cov:contentFormat
  bindings/protocols/coap/index.html
  bindings/protocols/coap/ontology.html
  bindings/protocols/coap/ontology.ttl
Labels: coap

#280 Add conformance section to Modbus binding documentation
  bindings/protocols/modbus/index.html
  bindings/protocols/modbus/index.template.html
Labels: modbus

#284 Fix reference and image name
  index.html
Labels: Editorial

#283 Subprotocol improvements
  index.html
Labels: Editorial

#285 Some very minor editorial issues
  index.html
Labels: Editorial
