Repository w3c/wot-binding-templates, pull requests merged in 2023-12, with the labels that each got.

#322 Fix typo in MQTT
  bindings/protocols/mqtt/index.html
  bindings/protocols/mqtt/index.template.html
  bindings/protocols/mqtt/ontology.html
  bindings/protocols/mqtt/ontology.ttl
Labels: Editorial, mqtt

#328 BACnet: English/structure fixes
  bindings/protocols/bacnet/index.html
Labels: Editorial, bacnet

#327 Editorial fixes for BACnet
  bindings/protocols/bacnet/index.html
Labels: Editorial, bacnet

#326 Slightly more verbose Data Mapping Compatibility for BACnet
  bindings/protocols/bacnet/index.html
Labels: Editorial, bacnet

#323 Fix some typos in Modbus
  bindings/protocols/modbus/ontology.html
  bindings/protocols/modbus/ontology.ttl
Labels: Editorial, modbus

#331 feat(modbus): introduce modbus type and byte/word order
  bindings/protocols/modbus/context.jsonld
  bindings/protocols/modbus/index.html
  bindings/protocols/modbus/index.template.html
  bindings/protocols/modbus/mapping.ttl
  bindings/protocols/modbus/modbus.schema.json
  bindings/protocols/modbus/ontology.html
  bindings/protocols/modbus/ontology.ttl
  bindings/protocols/modbus/template.sparql
Labels: modbus

#343 [Modbus] Typos and slight rewordings
  bindings/protocols/modbus/index.html
  bindings/protocols/modbus/index.template.html
  bindings/protocols/modbus/ontology.html
  bindings/protocols/modbus/ontology.ttl
Labels: Editorial, modbus

#329 Modbus introduction improvement
  bindings/protocols/modbus/index.html
  bindings/protocols/modbus/index.template.html
  bindings/protocols/modbus/ontology.html
Labels: modbus
